<div class="container">
  <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="col s6 offset-s3">
          <div class="card large">
            <div class="card-large-image" style="background-image:url(<%= toon.imageFilepath %>); background-size: cover;"></div>
            <div class="card-content">
              <div class="row test">
                <div class="col s12">
                  <span class="truncate"><%= toon.toonName %></span>
                </div>
              </div>
              <div class="row">
                <div class="card-options">
                  <div class="col s4">
                    <a href="/toons/<%= toon.id %>/edit" class="btn-floating btn-small waves-effect waves-light green accent-4"><i class="material-icons">mode_edit</i></a>

                    <form method="POST" action="/toons/<%= toon.id %>" class="toonDelete">
                      <input type="hidden" name="_method" value="DELETE">
                      <button class="btn-floating btn-small waves-effect waves-light red accent-4"><i class="material-icons">delete</i></button>
                    </form>
                  </div>
                  <div class="col s4 offset-s4">
                    <span class="card-title truncate right"><img class ="circle" src="<%= toon.createdBy.avatar %>" width="40px" height="40px"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <h4>Comments</h4>
    <div class="divider"></div>
    <div class="col s12 m12 l12">
        <div class="row">
          <% toon.comments.forEach((comment) => { %>
            <div class="comment-line valign-wrapper">
                <div class="col s1 comment-by">
                  <span><img class ="circle prefix" src="<%= comment.createdBy.avatar %>" width="40px" height="40px"></span>
                </div>
                <div class="col s10 comment valign-wrapper">
                  <%= comment.content %>
                </div>
                <div class="col s1 comment-actions">
                  <% if(locals.isAuthenticated && toon.belongsTo(user)) { %>
                    <form method="POST" action="/toons/<%= toon.id %>/comments/<%= comment.id%>" class="commentDelete">
                      <input type="hidden" name="_method" value="DELETE">
                      <button class="btn-floating btn-small waves-effect waves-light red accent-4"><i class="material-icons">delete</i></button>
                    </form>
                </div>
                <% } %>
            </div>
            <div class="divider"></div>
          <% }) %>
          <% if(locals.isAuthenticated) { %>
            <div>
              <h4>Leave a comment</h4>
              <form method="POST" action="/toons/<%= toon.id %>/comments">
                <input type="hidden" name="_method" value="POST">
                <textarea name="content" id="content" placeholder="Comment" required maxlength="255"></textarea>
                <button class="waves-effect waves-light btn">Comment</button>
              </form>
            </div>
          <% } %>
        </div>
    </div>
  </div>
</div>
