<div class="large-12 columns">
  <h2 class="truncate"><%= toon.toonName %></h2>
  <div><img src="<%= toon.imageFilepath %>" alt="<%= toon.toonName %>"></div>
  <% if(locals.isAuthenticated && toon.belongsTo(user)) { %>
    <div><a href="/toons/<%= toon.id %>/edit" class="button">Edit toon</a></div>

    <form method="POST" action="/toons/<%= toon.id %>">
      <input type="hidden" name="_method" value="DELETE">
      <div><button class="button alert">Delete toon</button></div>
    </form>
  <% } %>

  <small>Added by: <img class ="avatar" src="/<%= toon.createdBy.avatar %>" width="40px" height="40px"></small>
  <section>
    <h4>Comments</h4>
    <% toon.comments.forEach((comment) => { %>
      <small>Posted by <img class ="avatar" src="/<%= comment.createdBy.avatar %>" width="40px" height="40px">:</small>
      <p><%= comment.content %></p>
      <% if(locals.isAuthenticated && toon.belongsTo(user)) { %>
        <form method="POST" action="/toons/<%= toon.id %>/comments/<%= comment.id%>">
          <input type="hidden" name="_method" value="DELETE">
          <button class="button alert">Delete comment</button>
        </form>
      <% } %>
    <% }) %>
  </section>

  <% if(locals.isAuthenticated) { %>
    <section>
      <h4>Leave a comment</h4>
      <form method="POST" action="/toons/<%= toon.id %>/comments">
        <textarea name="content" id="content" placeholder="Comment" required maxlength="255"></textarea>
        <button class="button">Leave a comment</button>
      </form>
    </section>
  <% } %>
</div>
