<div class="large-12 columns">
  <img src="<%= toon.imageFilepath %>" alt="<%= toon.toonName %>">
  <h2><%= toon.toonName %></h2>
  <% if(locals.isAuthenticated && toon.belongsTo(user)) { %>
    <a href="/toons/<%= toon.id %>/edit" class="button">Edit toon</a>

    <form method="POST" action="/toons/<%= toon.id %>">
      <input type="hidden" name="_method" value="DELETE">
      <button class="button alert">Delete toon</button>
    </form>
  <% } %>

  <small>Added by: <%= toon.createdBy.email %></small>

  <section>
    <h4>Comments</h4>
    <% toon.comments.forEach((comment) => { %>
      <small>Posted by <%= comment.createdBy.email %>:</small>
      <p><%= comment.content %></p>
      <% if(locals.isAuthenticated && toon.belongsTo(user)) { %>
        <form method="POST" action="/toons/<%= toon.id %>/comments/<%= comment.id%>">
          <input type="hidden" name="_method" value="DELETE">
          <button class="button alert">Delete comment</button>
        </form>
      <% } %>
    <% }) %>
  </section>

  <% if(locals.isAuthenticated) { %>
    <section>
      <h4>Leave a comment</h4>
      <form method="POST" action="/toons/<%= toon.id %>/comments">
        <textarea name="content" id="content" placeholder="Comment" required maxlength="255"></textarea>
        <button class="button">Leave a comment</button>
      </form>
    </section>
  <% } %>
</div>
